<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Welcome to the Async Inn Hotel Management System!</h1>
    <ul>
        <li><a asp-controller="Hotels" asp-action="Index">Hotels</a></li>
        <li><a asp-controller="Amenities" asp-action="Index">Amenities</a></li>
        <li><a asp-controller="Rooms" asp-action="Index">Rooms</a></li>
        <li><a asp-controller="HotelRooms" asp-action="Index">Manage hotel rooms</a></li>
        <li><a asp-controller="RoomAmenities" asp-action="Index">Manage room amenities</a></li>
    </ul>
</body>

