<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Welcome to the Async Inn Hotel Management System!</h1>
    <a asp-controller="Hotels" asp-action="Index">Hotels</a>
    <a asp-controller="Amenities" asp-action="Index">Amenities</a>
    <a asp-controller="Rooms" asp-action="Index">Rooms</a>
    <a asp-controller="HotelRooms" asp-action="Index">Manage hotel rooms</a>
    <a asp-controller="RoomAmenities" asp-action="Index">Manage room amenities</a>
</body>

