body {
    width: 90%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 20px;
    color: black;
}


/*Index page titles*/
h2 {
    width: 300px;
    margin: auto;
}

table{
    font-family: Verdana;
    font-size: 11px;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
    width: 90%;
    margin: auto;

}

th, td{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: black;
    text-align: left;
}


ul {
    list-style: none;
}

p a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
}

a.main {
    text-decoration: none;
    font-size: 15px;
    color: blue
}

a.create {
    font-size: 12px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    margin: 20px auto;
}

input, select{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
label{
    display:block
}

form{
    text-align: left;
}

